// luke@nukeourlimo.co.uk - Oct 03 2012

// Vars
// -----------------------------------------------------

// Colors


// iphone and ipad width testing
$size-iphone-land: 40em;
$size-iphone-port: 20em;
$size-ipad-land: 65em;
$size-ipad-port: 48em;